*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
/temp
node_modules
.DS_Store
yarn.lock
oclif.manifest.json
npm-shrinkwrap.json
/.history
/.vscode
/referencedxproject/.sfdx
/referencedxproject/.sf
/referencedxproject/temp
/stuff